.about {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;

    .about__droon {
        display: flex;
        flex-wrap: wrap;
        padding-top: 80px;
        padding-bottom: 80px;

        .about__droon-image {
            flex-basis: 50%;
        }
        .about__droon-description {
            flex-basis: 50%;
            box-sizing: border-box;
            h2 {
                font-size: 36px;
                font-weight: 700;
                margin: 0 0 20px;
                text-transform: uppercase;
            }
            p {
                letter-spacing: 0.4px;
                line-height: 26px;
                margin-bottom: 0;
            }

            .story-details-top {
                margin-bottom: 48px;
                box-sizing: border-box;
            }
            .story-details-bottom {
                margin-bottom: 48px;
                box-sizing: border-box;
            }
        }
    }
}

.popular {
    background-image: url("../images/testi_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .popular__contain {
        padding-top: 100px;
        padding-bottom: 120px;

        .popular__container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding-bottom: 60px;
            text-align: center;

            .popular_container__title {
                padding-bottom: 60px;
                h2 {
                    letter-spacing: 0.25px;
                    margin: 0 0 18px;
                    font-family: "Work Sans", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    color: #d72323;
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 15px;
                }
                p {
                    margin: 0 auto;
                    width: 38%;
                    font-family: Rajdhani, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    color: #333333;
                    font-size: 50px;
                    line-height: 60px;
                    margin-bottom: 10px;
                }
            }
            .popular__container--content {
                .popular--content {
                    img {
                        max-width: 100px;
                        margin: auto;
                        max-height: 100px;
                        border-radius: 100%;
                        display: block;
                        width: 100%;
                    }
                    p {
                        font-size: 16px;
                        line-height: 32px;
                        margin: 30px auto 32px;
                        width: 80%;
                    }

                    .client-info {
                        h5 {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            margin: 22px 0 0;
                        }
                    }
                }
            }
        }
    }
}
.popular__item {
    .popular__item__contain {
        padding-top: 70px;
        padding-bottom: 50px;
        background: #ffffff no-repeat scroll center center / cover;

        .popular__item__container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding-bottom: 60px;
            text-align: center;

            .popular__item--title {
                padding-bottom: 30px;

                h2 {
                    letter-spacing: 0.25px;
                    margin: 0 0 18px;
                    font-family: "Work Sans", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    color: #d72323;
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 15px;
                }

                h3 {
                    margin: 0 auto;
                    width: 38%;
                    font-family: Rajdhani, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    color: #333333;
                    font-size: 50px;
                    line-height: 60px;
                    margin-bottom: 10px;
                }
            }
            .popular__item--content {
             

                .card {
                                  
                    display: block;
                    text-align: center;

                    .card__container {
                        
                        padding: 0 15px;

                        .card__image {
                            position: relative;

                            img {
                                max-width: 100%;
                                display: block;
                            }

                            .team-action {
                                background: #fff none repeat scroll 0 0;
                                left: 0;
                                opacity: 0;
                                padding: 10px;
                                position: absolute;
                                right: 0;
                                text-align: center;
                                top: 70%;
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                -webkit-transition: all 0.6s ease 0s;
                                -o-transition: all 0.6s ease 0s;
                                transition: all 0.6s ease 0s;
                                width: 100%;
                                z-index: 5;

                                a {
                                    border-radius: 50px;
                                    color: #fff;
                                    display: inline-block;
                                    font-size: 14px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                    width: 30px;
                                    margin: 0 3px;
                                }
                                a.facebook {
                                    border: 1px solid #3b5998;
                                    background-color: #3b5998;
                                    &:hover {
                                        background-color: transparent;
                                        color: #3b5998;
                                    }
                                }
                                a.twitter {
                                    border: 1px solid #55acee;
                                    background-color: #55acee;
                                    &:hover {
                                        background-color: transparent;
                                        color: #55acee;
                                    }
                                }
                                a.instagram {
                                    border: 1px solid #c32aa3;
                                    background-color: #c32aa3;
                                    &:hover {
                                        background-color: transparent;
                                        color: #c32aa3;
                                    }
                                }
                            }
                        }
                        .card__content {
                            background-color: rgba($color: gray, $alpha: 0.2);
                            padding: 20px 10px 23px;

                            h4 {
                                color: #333333;
                                font-size: 18px;
                                font-weight: 500;
                                margin: 0 0 4px;
                                text-transform: capitalize;
                            }

                            span {
                                color: #333333;
                                font-size: 15px;
                                font-style: italic;
                            }
                        }
                        &:hover .team-action {
                            top: 50%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.featured {
    max-width: 1200px;
    margin: 0 auto;
    .featured__item__contain {
        padding-top: 0px;
        padding-bottom: 70px;
        .featured__item__container {
       
          
            text-align: center;
            .featured__item--title {
                padding-bottom: 30px;
                h2 {
                    margin: 0 0 18px;
                    font-family: "Work Sans", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    color: #d72323;
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 15px;
                }
                h3 {
                    margin: 0 auto;
                    font-family: Rajdhani, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    color: #333333;
                    font-size: 50px;
                    line-height: 60px;
                    margin-bottom: 10px;
                }
            }
            .featured__item--content {
                display: flex;
                flex-wrap: wrap;

                .card__featured {
                    padding: 0 15px;
                    width: 434px;
                    height: 100%;
                    flex-grow: 1;
                    display: block;
                    text-align: center;

                    .card__featured__container {
                        position: relative;
                        overflow: hidden;
                        border: 1px solid #eee;
                        padding: 10px;
                        margin-bottom: 30px;
                        transition: 0.3s;

                        .card__featured__image {
                            box-sizing: border-box;
                            position: relative;
                            img {
                                max-width: 100%;
                                display: block;

                                border-style: none;
                                border: 0 none;
                                transition: all 0.3s ease 0s;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .gallery__content__wrap {
                                background: #fff none repeat scroll 0 0;
                                bottom: -30px;
                                left: 10px;
                                opacity: 0;
                                padding: 15px;
                                position: absolute;
                                transition: all 0.3s ease 0s;
                                right: 10px;
                                display: flex;
                                justify-content: space-between;
                                border-top: 1px solid #eee;

                                .gallery__content {
                                    text-align: left;
                                    h3 {
                                        font-size: 20px;
                                        font-weight: 500;

                                        :hover {
                                            color: red;
                                        }
                                        a {
                                            text-decoration: none;
                                            line-height: inherit;
                                            cursor: pointer;
                                            color: #1f2226;
                                        }
                                    }
                                }
                                .gallery__popup {
                                    box-sizing: border-box;
                                    &:hover a {
                                        border: 1px solid #333;
                                        color: #fff;
                                        background: #333;
                                    }

                                    a {
                                        height: 40px;
                                        width: 40px;
                                        border: 1px solid #eee;
                                        text-align: center;
                                        line-height: 40px;
                                        display: block;
                                        color: #333;
                                        border-radius: 5px;
                                    }
                                    .popup__img {
                                        height: 40px;

                                        width: 40px;
                                        border: 1px solid #eee;
                                        text-align: center;
                                        line-height: 40px;
                                        display: block;
                                        color: #333;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            box-shadow: 0 4px 10px #0000001a;
                        }

                        &:hover .gallery__content__wrap {
                            bottom: 10px;
                            opacity: 1;
                        }
                    }
                }
                .swiper-slide {
                    width: 320px !important;
                }
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
}
.swiper-container {
    width: 480px;
  }

  @media screen and (min-width: 540px) {
    .swiper-container {
      width: 540px;
    }
  }
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }
  @media screen and (min-width: 960px) {
    .swiper-container {
      width: 960px;
    }
  }
  @media screen and (min-width: 1200px) {
    .swiper-container {
      width: 1200px;
    }
  }
  @media screen and (min-width: 1440px) {
    .swiper-container {
      width: 1440px;
    }
  }


@media #{$md-layout} {
    main {
        padding: 0 30px;
        margin: 0 auto;
        max-width: 1200px;
        .about {
            .about__droon {
                .about__droon-image {
                    flex-basis: 100%;
                }
                .about__droon-description {
                    flex-basis: 100%;
                }
            }
        }
        // popular

        .popular {
            .popular__contain {
                .popular__container {
                    .popular_container__title {
                        p {
                            font-size: 35px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        //popular item
        .popular__item {
            .popular__item__contain {
                .popular__item__container {
                    .popular__item--title {
                        h3 {
                            font-size: 35px;
                            line-height: 40px;
                        }
                    }
                    .popular__item--content {
                        
                       .card {
                    
                       }
                    }
                }
            }
        }
        .featured {
            .featured__item__contain {
                .featured__item__container {
                    .featured__item--title {
                        h3 {
                            font-size: 35px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$sm-layout} {
    main {
        max-width: 992px;
        padding: 0 30px;
        margin: 0 auto;
    }
}

@media #{$xs-layout} {
    main {
        max-width: 768px;
        padding: 0 30px;
        margin: 0 auto;
    }
}
