.login {
  &__breadcrumbs {
    background-image: url('https://cdn.shopify.com/s/files/1/1280/1207/files/video-bg333.png?v=1640774424');
    padding: 20px 0;
    text-align: center;
    p {
      font-size: 20px;
    }
  }
  &__main {
    padding: 100px 0;
    &--form {
      text-align: center;
      background: #f3f3f3 none repeat scroll 0 0;
      max-width: 35%;
      margin: auto;
      padding: 50px 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .login {
    &__main {
      &--form {
        max-width: 40%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  //tablet
  .login {
    &__main {
      &--form {
        max-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .login {
    &__main {
      &--form {
        max-width: 60%;
      }
    }
  }
}
